#bot-builder {
    background: #1f3153;
    float: left;
    height: 100%;
    overflow: auto;
    padding: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
#bot-builder-box {
    height: 10000px;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: top left;
    width: 10000px;
    z-index: 1;
    background-image: radial-gradient(rgb(40 66 117) 1px, transparent 0px);
    background-size: 24px 24px;
}
